@font-face {
    font-family: "Lucida Sans Unicode";
    src: url("lucida-sans-unicode.ttf");
  }
body{   
    font-family: "Lucida Sans Unicode";
    background-color: silver;
}

#contenedor{
    position: relative;
    width: 900px;   
    background-color: white;
    left:25%;


}
button{
    background-color: rgb(151, 199, 151);
    margin: 5px;
    padding: 5px;
    width: 100px;
}
#lista{
   position: relative;
   width: 10%;
   top: 15px;
}

#lista li{
    display: block;
}
#lista a{
    text-decoration:none;
}

#lista button:hover {
    background-color: orange;
	
	}
#titulo{
    text-align: center;
}

#bienvenida{
    position: relative;
    left: 25%;
    width: 70%;
    padding: 5px;
    border: 1px solid rgba(189, 186, 186, 0.74);
    bottom: 170px;
}

#textoVerde{
    color: rgb(76, 207, 76);
}

#textoDorado{
    color: #EBAE3B;
}

hr{
    position: relative;
    bottom: 20px;
    color: rgba(189, 186, 186, 0.74);
}