@font-face {
    font-family: "Lucida Sans Unicode";
    src: url("lucida-sans-unicode.ttf");
  }
body{   
    font-family: "Lucida Sans Unicode";
    background-color: silver;
}

#contenedor{

    width: 99%;   
    background-color: white;

}

#titulo{
    text-align: center;
}

#bienvenida{
    position: relative;
    left: 25%;
    width: 50%;
    padding: 5px;
    border: 1px solid rgba(189, 186, 186, 0.74);
    bottom: 20px;
}

#textoVerde{
    color: rgb(76, 207, 76);
}

#textoDorado{
    color: #EBAE3B;
}

hr{
    position: relative;
    bottom: 20px;
    color: rgba(189, 186, 186, 0.74);
}